<!doctype html>
<html>
	<head>
	  <title>ASW Progetto 2 - Ristoranti su Docker</title>
	  <meta charset="UTF-8"></meta>
	</head>
	
	<body>
	  <h1>ASW Progetto 2 - Ristoranti su Docker</h1>
	  <h3>Ristoranti per città</h3>
	  
	  <ul>
	    <li><a href="/restaurants/matera">Matera</a></li>
	    <li><a href="/restaurants/roma">Roma</a></li>
	    <li><a href="/restaurants/napoli">Napoli</a></li>
	    <li><a href="/restaurants/affi">Affi</a></li>
	  </ul>
	  
	  <h3>Dettagli del ristorante</h3>
	  <ul>
	    <li><a href="/restaurants/matera/abbondanza-lucana">Abbondanza Lucana</a> a Matera</li>
	    <li><a href="/restaurants/roma/don-carlos">Don Carlos</a> a Roma</li>
	    <li><a href="/restaurants/napoli/rossopomodoro">RossoPomodoro</a> a Napoli</li>
	    <li><a href="/restaurants/affi/le-pizze-di-pizzo">Le Pizze di Pizzo</a> ad Affi</li>
	  </ul>
	</body>
</html>
