<!doctype html>
<html>
<head>
  <title>ASW Progetto 1 - Ristoranti</title>
  <meta charset="UTF-8">
</head>

<body>
  <h1>ASW Progetto 1 - Ristoranti</h1>
  <h3>Ristoranti per città</h3>
  <ul>
    <li><a href="/S/matera">Matera</a></li>
    <li><a href="/S/roma">Roma</a></li>
    <li><a href="/S/napoli">Napoli</a></li>
    <li><a href="/S/affi">Affi</a></li>
  </ul>
  
  <h3>Dettagli del ristorante</h3>
  <ul>
    <li><a href="/S/matera/abbondanza-lucana">Abbondanza Lucana</a> a Matera</li>
    <li><a href="/S/roma/don-carlos">Don Carlos</a> a Roma</li>
    <li><a href="/S/napoli/rossopomodoro">RossoPomodoro</a> a Napoli</li>
    <li><a href="/S/affi/le-pizze-di-pizzo">Le Pizze di Pizzo</a> ad Affi</li>
  </ul>
</body>
</html>
