/bin/
/build/
/.gradle/
/environments/developer/.vagrant
/environments/shared/
/.settings/
.classpath
.project
/cities/.settings/
/cities/.project
/cities/build/
/restaurants/.settings/
/restaurants/.project
/restaurants/build/
/ratings/.settings/
/ratings/.project
/ratings/build/
/dist/
